<h1>This is todo.component.html</h1>

<!--
The *ngFor in the <ul> element is the Angular "repeater" directive. 
It marks that <ul> element (and its children) as the "repeater template".

"let todo of todos", todos is from todo.component.ts where we define it as todos:Todo[]
Then todo is the each element in that todos array
-->
<ul *ngFor="let todo of todos">
    <li>{{ todo.title }}</li>
</ul>

<!--
Use todo-item component.
We need to label [todo]="todo" as input in todo-item.component.ts
-->
<app-todo-item *ngFor="let todo of todos" [todo]="todo">

</app-todo-item>
