<!--
# Each todo element here is from "todo.component.html", see
<app-todo-item *ngFor="let todo of todos" [todo]="todo"></app-todo-item>

# [ngClass] is a way used to add css class conditionally. "setClasses()" is defined in 
"todo-item.component.ts"

# (change)="onToggle(todo)"  & (click)="onDelete(todo)" is Angular event.
-->
<div [ngClass]="setClasses()">
  <p>
    <input (change)="onToggle(todo)" type="checkbox" />
    id:{{ todo.id }}/title:{{ todo.title }}/completed:{{ todo.completed }}
    <button (click)="onDelete(todo)" class="del">x</button>
  </p>
</div>
